*,
*::after,
*::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
}

.orange {
  color: #ff6b00;
}

.bg-orange {
  background-color: #ff6b00;
}

.text-white {
  color: white;
}

.bg-dark {
  background-color: #1C1A19;
}

.color-dark {
  color: #333
}

.color-lighter-dark {
  color: #3C3A39;
}

.navbar-color {
  color: #ccc;
}

.bg-lighter-dark {
  background-color: #3C3A39;
}

.crete-round {
  font-family: 'Crete Round', sans-serif;
}

.inter-normal {
  font-family: 'Inter', sans-serif;
}

.inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #18a0fb;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.overlay-menu-div {
  background-color: rgba(50, 50, 50, 0.95);
  height: 100%;
  width: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 3em 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.close-span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  color: gray;
}

.overlay-inner-menu {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.overlay-inner-menu > a {
  padding: 0.5em 1em;
  margin-top: 1em;
  border-bottom: 1px solid gray;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.close-span:hover {
  cursor: pointer;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1.3em;
  align-items: center;
  color: #ccc;
  font-family: 'inter', sans-serif;
  position: fixed;
  top: 0;
  height: 3.5em;
  width: 100%;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navbar > span {
  border: 1px solid gray;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  border-radius: 0.2em;
}

.navbar > span:hover {
  cursor: pointer;
  color: white;
}

.logo-div {
  width: 4em;
  display: flex;
  align-items: center;
  align-self: center;
}

.logo-div > img {
  width: 100%;
}

.page-jump-div {
  justify-content: flex-end;
  display: none;
  width: 50%;
}

.page-jump-div > a {
  padding: 0.5em 1em;
  background: linear-gradient(#777 0.3%, #333 50.8%);
  color: white;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
  border-right: 1px solid #777;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.page-jump-div > a:first-child {
  border-radius: 0.3em 0 0 0.3em;
  border-left: 1px solid #777;
}

.page-jump-div > a:last-child {
  border-radius: 0 0.3em 0.3em 0;
  border-right: 1px solid #777;
}

.page-jump-div > a > h3 {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.page-jump-div > a:hover > h3 {
  color: #ff6b00;
}

header {
  background-image:
  linear-gradient(to right, #1C1A19, #1c1a19),
  url('../images/roy4.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3.5em;
  transition: all 0.5s ease-in-out;
}

header,
.about-section {
  color: white;
  padding: 4em 2em;
  margin-bottom: 2em;
}

.header-heading-inner-div,
.hey-there,
.about-h1,
.about-p {
  opacity: 0;
}

.header-heading-inner-div,
.about-p {
  transform: translateX(-100%);
  transition: all 2s ease;
}

.header-heading-inner-div {
  display: flex;
}

.hey-there,
.about-h1 {
  transform: translateX(-50%);
  transition: all 1s ease;
}

.header-heading-inner-div.active,
.hey-there.active,
.about-h1.active,
.about-p.active {
  transform: translateX(0);
  opacity: 1;
}

.header-heading-div > h2,
.header-heading-inner-div > h2,
.header-heading-inner-div > h1 {
  font-size: 2em;
}

.header-heading-inner-div > h2 {
  margin-right: 2%;
}

.name-hidden {
  text-shadow: 0px 4px 1px rgba(150, 0, 0), 0 10px 50px rgba(255, 0, 0);
  transition: text-shadow 0.5s ease-in-out;
}

header > h4 {
  font-size: 1.2em;
  transition: text-shadow 0.5s ease-in-out;
}

.stack-heading,
.header-social-media {
  transform: translateY(-200%);
  opacity: 0;
  transition: all 2s ease;
}

.stack-heading.active,
.header-social-media.active {
  transform: translateY(0);
  opacity: 1;
}

.header-social-media {
  padding: 0.8em 0;
}

.header-social-media > a {
  margin-right: 1em;
  font-size: 1em;
}

main {
  padding: 0 1em;
}

.projects-heading {
  padding: 1em 0;
}

.projects-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5em 0;
  border-top: 1px solid #999;
}

.project,
.card-img-div {
  height: 22em;
  width: 100%;
  margin: 20px 0;
  border-radius: 2px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.4s ease-in-out;
}

.project:nth-child(1),
#card-img-1 {
  background-image: url('../images/home_screen_2.jpg');
  background-size: contain;
}

.project:nth-child(2),
#card-img-2 {
  background-image: url('../images/lit_grid3.jpg');
}

.project:nth-child(3),
#card-img-3 {
  background-image: url('../images/norp_chart2.gif');
}

.project:nth-child(4),
#card-img-4 {
  background-image: url('../images/endless-runner.png');
}

.project:nth-child(5),
#card-img-5 {
  background-image: url('../images/screenshot1.png');
}

#card-img-5 {
  border-bottom: 1px solid #ccc;
}

.project:nth-child(6),
#card-img-6 {
  background-image: url('../images/screenshot3.png');
}

.project:nth-child(7),
#card-img-7 {
  background-image: url('../images/node_posts.png');
}

.project:nth-child(8),
#card-img-8 {
  background-image: url('../images/norp_movies.png');
}

.project:nth-child(9),
#card-img-9 {
  background-image: url('../images/console2.jpg');
}

.project:nth-child(10),
#card-img-10 {
  background-image: url('../images/sound.png');
}


.desc {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  width: 100%;
  padding-bottom: 0.3em;
  z-index: 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  position: absolute;
  top: 0;
  transition: top 0.4s ease-in-out;
}

.desc > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'inter', sans-serif;
  color: rgb(200, 200, 200);
}

.desc > p, 
.desc > h2,
.desc > .langs {
  margin-left: 20px;
  margin-right: 20px;
}

p,
.langs {
  font-size: 0.9em;
}

.see-btn {
  background-color: #ff6b00;
  color: white;
  border: 1px solid transparent;
  padding: 10px;
  font-weight: bold;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, 
  box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  outline: none;
}

button,
.resume-btn,
input[type=submit],
.card-links-div > button {
  transition: all 0.3s ease-in-out;
}

button:hover,
input[type=submit]:hover,
.card-links-div > button:hover{
  cursor: pointer;
  color: #ff6b00;
  background-color: #FFF5E1;
  border: 1px solid #ff6b00;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.3);
}

button:active,
input[type=submit]:active,
.card-links-div > button:active {
  background-color: #e05304;
  color: white;
  border: 1px solid #ff6b00;
}

.langs {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  font-family: 'inter', sans-serif;
}

.langs > div {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.project:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.desc > p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.project:hover .desc {
  top: 100%;
}

.project:hover .see-btn {
  top: 50%;
}

.card-wrapper-div {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.card {
  background-color: white;
  height: 80%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2em 0.2em;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 1);
}

.card-close-span {
  position: absolute;
  right: 0;
  bottom: 100%;
  font-size: 2em;
  color: #ccc;
  z-index: 2;
}

.card-close-span:hover {
  cursor: pointer;
  color: #ff6b00;
}

.card-content-div {
  height: 100%;
}

.card-title {
  padding-right: 1em;
}

.card-langs {
  display: flex;
  padding: 0.5em 0;
  flex-wrap: wrap;
}

.card-langs > div {
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-weight: 500;
  color: #ff6b00;
  border: 1px solid lightgray;
  padding: 0.3em 0.5em;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-div {
  height: 45%;
  margin: 0;
  border-radius: 0;
}

.card-desc-div {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1em;
}

.card-name-wrapper {
  overflow: auto;
  padding: 0 0.5em;
  margin: 0.5em 0;
}

.card-name-wrapper > p {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.4em;
  color: rgb(110, 110, 110);
  text-overflow: ellipsis;
}

.card-links-div {
  display: flex;
  justify-content: space-between;
}

.card-links-div > button {
  background-color: #ff6b00;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  width: 48%;
  text-align: center;
  outline: none;
}

.card-links-div > button > a {
  display: block;
  padding: 0.4em 0;
}

.card-links-div > button > a:hover {
  color:  #ff6b00;
}

.card-links-div > button > a:active {
  color: white;
}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.about-info-div {
  padding-bottom: 3em;
  order: 2;
}

.about-info-div > h1,
.skills-section > h1 {
  font-size: 2.5em;
}

.resume-btn {
  position: relative;
  width: 50%;
  left: 0;
  margin-top: 1em;
  border: 1px solid transparent;
  transform: translateX(50%);
  opacity: 0;
  transition: all 2s ease;
  font-size: 0.8em;
}

.resume-btn.active {
  transform: translateX(0);
  opacity: 1;
}

.about-info-div > p {
  padding: 1em 0;
  color: #F4F5F7;
  line-height: 1.5em;
}

.illustrator-div {
  width: 100%;
  order: 1;
  margin-bottom: 2em;
}

.illustrator-div > img {
  width: 110%;
}

.skills-section {
  padding: 2em 0;
  border-top: 1px solid white;
  padding-top: 3em;
}

.skill-name-div {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0.3em;
  font-weight: bold;
  position: relative;
}

.skill-name-div > ul {
  list-style-type: none;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  right: 0;
  width: 50%;
  transform: translateY(-3em);
  z-index: 0;
  transition: all 0.5s ease-in-out 0s, visiblility 0s linear 0.5s, z-index 0s linear 0.01s;
}

.skill-name-div > ul > li {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  font-size: 0.8em;
}

.skill-name-div > ul > li > img {
  width: 2em;
  margin-right: 1em;
}

.skill-name-div:hover {
  background-color: #333;
  cursor: pointer
}

.skill-name-div > i {
  transition: all 0.5s ease-in-out;
}

.skill-name-div:hover > i {
  transform: rotateX(180deg);
  transform-origin: 50%;
}

.skill-name-div:hover > ul {
  background-color: #333;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
}

.contact-section-footer {
  padding: 0 1em;
  padding-top: 2em;
  border-bottom: 1px solid lightgray;
}

.message-div {
  text-align: center;
  font-weight: 700;
}

.form-div {
  padding: 3em 0;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  border: none;
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
  font-size: 0.8em;
  outline: none;
}

textarea{
  border: none;
  background-color: #fbf8f7;
  height: 8em;
  resize: none;
}

input[type=submit] {
  border: 1px solid transparent;
  font-weight: bold;
  padding: 0.9em 0;
}

.lower-section-footer {
  padding: 0 1em;
  padding-top: 1em;
}

.lower-section-footer > p {
  text-align: center;
  color: #444;
  font-size: 0.8em;
}

.lower-section-footer > .header-social-media {
  display: flex;
  justify-content: center;
}

.lower-section-footer > .header-social-media > a{
  margin: 0 1em;
  font-size: 1.2em;
}

@media screen and (min-width: 576px) {
  .navbar > span {
    display: none;
  }

  header {
    background-image:
    linear-gradient(to right, #1C1A19 50%, transparent),
    linear-gradient(to right, #1C1A19 55%, transparent),
    url('../images/roy4.jpg');
  }

  .page-jump-div {
    display: flex;
    width: 63%;
  }

  .header-heading-div > h2,
  .header-heading-inner-div > h2,
  .header-heading-inner-div > h1 {
    font-size: 6vw;
  }

  .name-hidden {
    text-shadow: 5px 5px rgba(255, 0, 0, 0.4),
    8px 8px rgba(255, 0, 0, 0.3),
    11px 11px rgba(255, 0, 0, 0.2),
    14px 14px rgba(255, 0, 0, 0.1),
    17px 17px rgba(255, 0, 0, 0.05);
  }

  header > h4 {
    font-size: 3vw;
    text-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
  }

  .header-social-media > a {
    font-size: 2.5vw;
  }

  .projects-section {
    padding: 1.5em 1em;
  }

  .project {
    width: 48%;
    max-width: 48%;
  }

  .project {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }

  .project:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
  }

  .message-div {
    font-size: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .form-div {
    padding-left: 2em;
    padding-right: 2em;
  }

}

@media screen and (min-width: 768px) {

  .navbar {
    height: 4em;
  }

  header {
    margin-top: 4em;
  }

  .page-jump-div {
    width: 50%;
  }

  .page-jump-div > a {
    padding: 0.5em 1.5em;
  }

  .card {
    padding: 2em;
  }

  .card-img-div {
    height: 55%;
  }

  .card-desc-div {
    height: 45%;
  }

  .card-name-wrapper {
    padding: 0 0;
  }

  .contact-section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
  }

  .about-info-wrapper {
    flex-direction: row;
  }

  .about-info-div,
  .illustrator-div {
    width: 50%;
  }

  .about-info-div {
    order: 1;
  }

  .illustrator-div {
    order: 2;
    margin-bottom: 0;
  }

  .skill-item {
    display: flex;
    justify-content: space-between;
  }

  .skill-name-div {
    width: 30%;
  }

  .skill-name-div > ul {
    width: 100%;
  }

  .message-div {
    flex: 1;
    text-align: start;
  }

  .form-div {
    flex: 1;
  }
}

@media screen and (min-width: 992px) {

  .navbar {
    padding: 1em 4em;
  }

  .page-jump-div > a {
    padding: 0.5em 2em;
  }

  .projects-section {
    padding: 1.5em 2em;
    justify-content: space-evenly;
  }

  .projects-heading {
    padding: 1em 2em;
  }

  .project,
  .card-img-div {
    margin: 20px 10px;
  }

  .project {
    width: 31%;
    max-width: 31%;
  }

  .project:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }

  header,
  .about-section {
    padding: 4em 4em;
  }

  .message-div {
    font-size: 1.5em;
  }

  .card {
    padding: 2em;
  }

  .card-content-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-img-div {
    flex: 1;
    height: 100%;
    background-color: #ffe;
  }

  #card-img-5 {
    border-right: 1px solid #ccc;
  }

  .card-desc-div {
    flex: 1;
    height: 100%;
    padding-top: 0;
    padding-left: 2em;
  }

  .card-name-wrapper > p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}