*,
*::after,
*::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
}

.orange {
  color: #ff6b00;
}

.bg-orange {
  background-color: #ff6b00;
}

.text-white {
  color: white;
}

.bg-dark {
  background-color: #1C1A19;
}

.color-dark {
  color: #333
}

.color-lighter-dark {
  color: #3C3A39;
}

.navbar-color {
  color: #888;
}

.bg-lighter-dark {
  background-color: #3C3A39;
}

.crete-round {
  font-family: 'Crete Round', sans-serif;
}

.inter-normal {
  font-family: 'Inter', sans-serif;
}

.inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #18a0fb;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.overlay-menu-div {
  background-color: rgba(50, 50, 50, 0.95);
  height: 100%;
  width: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 3em 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.close-span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  color: gray;
}

.overlay-inner-menu {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.overlay-inner-menu > a {
  padding: 0.5em 1em;
  margin-top: 1em;
  border-bottom: 1px solid gray;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.close-span:hover {
  cursor: pointer;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1.3em;
  align-items: center;
  color: #888;
  font-family: 'inter', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar > span:hover {
  cursor: pointer;
  color: white;
}

.page-jump-div {
  justify-content: space-between;
  display: none;
  width: 50%;
}

header,
.about-section {
  color: white;
  padding: 4em 2em;
  margin-bottom: 2em;
}

header > h1 {
  font-size: 2em;
}

header > h4 {
  font-size: 1.2em;
}

.header-social-media {
  padding: 0.8em 0;
}

.header-social-media > a {
  margin-right: 1em;
  font-size: 1em;
}

main {
  padding: 0 1em;
}

.projects-heading {
  padding: 1em 0;
}

.projects-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1.5em 0;
  border-top: 1px solid #999;
}

.project,
.card-img-div {
  height: 22em;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  max-width: 100%;
  background-image: url('../images/screenshot_electronics.jpg');
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.4s ease-in-out;
}

.project:nth-child(1),
#card-img-1{
  background-image: url('../images/screenshot.png');
}

.project:nth-child(3),
#card-img-3 {
  background-image: url('../images/lit_grid3.jpg');
}

.project:nth-child(4),
#card-img-4 {
  background-image: url('../images/console2.jpg');
}

.project:nth-child(5),
#card-img-5 {
  background-image: url('../images/screenshot1.png');
}

.desc {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  width: 100%;
  padding-bottom: 0.3em;
  z-index: 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  position: absolute;
  top: 0;
  transition: top 0.4s ease-in-out;
}

.desc > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'inter', sans-serif;
  color: rgb(200, 200, 200);
}

.desc > p, 
.desc > h2,
.desc > .langs {
  margin-left: 20px;
  margin-right: 20px;
}

p,
.langs {
  font-size: 0.9em;
}

.see-btn {
  background-color: #ff6b00;
  color: white;
  border: 1px solid transparent;
  padding: 10px;
  font-weight: bold;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.4s ease-in-out;
  outline: none;
}

button:hover,
input[type=submit]:hover,
.card-links-div > button:hover{
  cursor: pointer;
  color: #ff6b00;
  background-color: #FFF5E1;
  border: 1px solid #ff6b00;
}

button:active,
input[type=submit]:active,
.card-links-div > button:active {
  background-color: #e05304;
  color: white;
  border: 1px solid #ff6b00;
}

.langs {
  display: flex;
  margin-bottom: 5px;
  font-family: 'inter', sans-serif;
}

.langs > div {
  padding: 8px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.project:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.desc > p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.project:hover .desc {
  top: 100%;
}

.project:hover .see-btn {
  top: 50%;
}

.card-wrapper-div {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.card {
  background-color: white;
  height: 80%;
  width: 85%;
  padding: 0.5em 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-close-span {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-size: 2em;
  color: gray;
}

.card-close-span:hover {
  cursor: pointer;
  color: #ff6b00;
}

.card-title {
  padding-right: 1em;
}

.card-langs {
  display: flex;
}

.card-langs > div {
  margin-right: 1em;
  font-size: 0.9em;
  font-weight: 500;
  border: 1px solid gray;
  padding: 0.3em 0.5em;
  border-radius: 2px;
}

.card-content-div {
  height: 80%;
}

.card-img-div {
  height: 45%;
  margin: 0;
  border-radius: 0;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); */
}

.card-desc-div {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1em;
}

.card-desc-div > p {
  font-size: 0.8em;
  line-height: 1.4em;
  overflow: auto;
  text-overflow: ellipsis;
}

.card-links-div {
  display: flex;
  justify-content: space-between;
}

.card-links-div > button {
  background-color: #ff6b00;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  width: 48%;
  text-align: center;
  outline: none;
}

.card-links-div > button > a {
  display: block;
  padding: 0.4em 0;
}

.card-links-div > button > a:hover {
  color:  #ff6b00;
}

.card-links-div > button > a:active {
  color: white;
}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.about-info-div {
  padding-bottom: 3em;
}

.about-info-div > h1 {
  font-size: 2.5em;
}

.resume-btn {
  position: relative;
  width: 50%;
  left: 0;
  margin-top: 1em;
  border: 1px solid transparent;
  transform: translateX(0);
  font-size: 0.8em;
}

.about-info-div > p {
  padding: 1em 0;
}

.illustrator-div {
  width: 100%;
}

.illustrator-div > img {
  width: 110%;
}

.skills-section {
  padding: 2em 0;
  border-top: 1px solid white;
}

.skill-name-div {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0.3em;
  font-weight: bold;
  position: relative;
}

.skill-name-div > ul {
  list-style-type: none;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  right: 0;
  width: 50%;
  transform: translateY(-3em);
  z-index: 0;
  transition: all 0.5s ease-in-out 0s, visiblility 0s linear 0.5s, z-index 0s linear 0.01s;
}

.skill-name-div > ul > li {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  font-size: 0.8em;
}

.skill-name-div > ul > li > img {
  width: 2em;
  margin-right: 1em;
}

.skill-name-div:hover {
  background-color: #333;
  cursor: pointer
}

.skill-name-div > i {
  transition: all 0.5s ease-in-out;
}

.skill-name-div:hover > i {
  transform: rotateX(180deg);
  transform-origin: 50%;
}

.skill-name-div:hover > ul {
  background-color: #333;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
}

.contact-section-footer {
  padding: 0 1em;
  padding-top: 2em;
  border-bottom: 1px solid lightgray;
}

.message-div {
  text-align: center;
  font-weight: 700;
}

.form-div {
  padding: 3em 0;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  border: none;
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
  font-size: 0.8em;
  outline: none;
}

textarea{
  border: none;
  background-color: #fbf8f7;
  height: 8em;
  resize: none;
}

input[type=submit] {
  border: 1px solid transparent;
  font-weight: bold;
  padding: 0.9em 0;
}

.lower-section-footer {
  padding: 0 1em;
  padding-top: 1em;
}

.lower-section-footer > p {
  text-align: center;
  color: #444;
  font-size: 0.8em;
}

.lower-section-footer > .header-social-media {
  display: flex;
  justify-content: center;
}

.lower-section-footer > .header-social-media > a{
  margin: 0 1em;
  font-size: 1.2em;
}

@media screen and (min-width: 576px) {
  .navbar > span {
    display: none;
  }

  .page-jump-div {
    display: flex;
  }

  header > h1 {
    font-size: 6vw;
  }

  header > h4 {
    font-size: 3vw;
  }

  .header-social-media > a {
    font-size: 2.5vw;
  }

  .projects-section {
    padding: 1.5em 1em;
  }

  .project {
    width: 48%;
    max-width: 48%;
  }

  .message-div {
    font-size: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .form-div {
    padding-left: 2em;
    padding-right: 2em;
  }

}

@media screen and (min-width: 768px) {
  .contact-section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
  }

  .about-info-wrapper {
    flex-direction: row;
  }

  .about-info-div,
  .illustrator-div {
    width: 50%;
  }

  .skill-item {
    display: flex;
    justify-content: space-between;
  }

  .skill-name-div {
    width: 30%;
  }

  .skill-name-div > ul {
    width: 100%;
  }

  .message-div {
    flex: 1;
    text-align: start;
  }

  .form-div {
    flex: 1;
  }
}

@media screen and (min-width: 992px) {

  .navbar {
    padding: 1em 4em;
  }
  
  .projects-section {
    padding: 1.5em 2em;
  }

  .projects-heading {
    padding: 1em 2em;
  }

  .project {
    width: 31%;
    max-width: 31%;
  }

  header,
  .about-section {
    padding: 4em 4em;
  }

  .message-div {
    font-size: 1.5em;
  }
}